<membership defaultProvider="RiakMembershipProvider" userIsOnlineTimeWindow="15">
  <providers>
    <add name="RiakMembershipProvider" type="Talifun.Riak.Providers.RiakMembershipProvider, Talifun.Riak.Providers" applicationName="RiakMembershipProviderTests" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" description="Stores and retrieves membership data from riak database" />
  </providers>
</membership>