<profile automaticSaveEnabled="false" defaultProvider="RiakProfileProvider">
  <providers>
    <clear />
    <add name="RiakProfileProvider" type="Talifun.Riak.Providers.RiakProfileProvider, Talifun.Riak.Providers" applicationName="RiakMembershipProviderTests" description="Stores and retrieves profile data from riak database" />
  </providers>

  <!-- properties that should get turned into claims go here -->
  <properties>
    <add name="WebPage" />
    <add name="TwitterName" />
  </properties>
</profile>