<roleManager defaultProvider="RiakRoleProvider" enabled="true">
  <providers>
    <clear />
    <add name="RiakRoleProvider" type="Talifun.Riak.Providers.RiakRoleProvider, Talifun.Riak.Providers" applicationName="RiakMembershipProviderTests" description="Stores and retrieves role data from riak database" />
  </providers>
</roleManager>